    <div class="bartenders">
      BARTENDERS
    </div>

    <section class="features">
      FEATURES
    </section>

    <div class="story__pictures">
    </div>

    <div class="story__content">
      STORY CONTENT
    </div>

    <div class="drinks">
      DRINKS
    </div>

    <div class="galery">
      GALERY
    </div>